### Reading saved parquet data

In [2]:
%%sql
CREATE EXTERNAL TABLE IF NOT EXISTS titanic_data (
    PassengerId INT,
    Survived INT,
    Pclass INT,
    Name STRING,
    Sex STRING,
    Age DOUBLE,
    SibSp INT,
    Parch INT,
    Ticket STRING,
    Fare DOUBLE,
    Embarked STRING
)
STORED AS PARQUET
LOCATION 's3://titanic1m/titanic_data/'

Calculation started (calculation_id=42cad7a6-2fee-bbb6-e7ec-3641689089b0) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
++
||
++
++

In [3]:
%%sql
SELECT * FROM titanic_data LIMIT 10

Calculation started (calculation_id=0acad7a6-4099-d87d-46dc-ecd0fdd6eb8c) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+-----------+--------+------+----+------+-----------------+-----+-----+------+------------------+--------+
|PassengerId|Survived|Pclass|Name|   Sex|              Age|SibSp|Parch|Ticket|              Fare|Embarked|
+-----------+--------+------+----+------+-----------------+-----+-----+------+------------------+--------+
|       null|       1|     1|null|female|29.28033940603943|    0|    0|  null| 76.76016504643573|       C|
|       null|       0|     3|null|  male|             29.0|    0|    0|  null|10.193096706320182|       S|
|       null|       0|     3|null|  male|             20.0|    0|    0|  null| 12.02941641147422|       C|
|       null|       0|     3|null|  male|             27.0|    0|    0|  null|13.429447862759872|       S|
|       null|       0|     3|null|  male|             32.0|    0|    0|  null| 4.840769450167068|       C|
|       null|       1|     3|null|female|              0.0|    0|    0|  null|14.805817148933464|       S|
|       null|       0|     1|null|  male|29.28033940603943|    0|    0|  null|   115.80634419925|       C|
|       null|       1|     2|null|female|             28.0|    0|    1|  null|27.950047997073444|       S|
|       null|       0|     1|null|  male|29.28033940603943|    0|    0|  null|29.467202626662697|       S|
|       null|       0|     2|null|  male|             32.0|    0|    0|  null|               0.0|       S|
+-----------+--------+------+----+------+-----------------+-----+-----+------+------------------+--------+

In [4]:
%%sql
SELECT Sex, AVG(Age) as AvgAge, AVG(Fare) as AvgFare
FROM titanic_data
GROUP BY Sex

Calculation started (calculation_id=14cad7a6-6190-820d-767c-883adafec8a7) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+------+------------------+------------------+
|   Sex|            AvgAge|           AvgFare|
+------+------------------+------------------+
|  male| 29.91935231569606|26.929040003456922|
|female|28.099632217556813|45.530410424133706|
+------+------------------+------------------+

In [5]:
%%sql
SELECT COUNT(*) as TotalRows FROM titanic_data

Calculation started (calculation_id=50cad7a6-77ac-b027-68fd-ea62b7d0427b) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+---------+
|TotalRows|
+---------+
|  1000000|
+---------+

In [6]:
%%sql
SELECT
    MIN(Age) AS min_age, MAX(Age) AS max_age, AVG(Age) AS avg_age,
    MIN(Fare) AS min_fare, MAX(Fare) AS max_fare, AVG(Fare) AS avg_fare,
    MIN(SibSp) AS min_sibsp, MAX(SibSp) AS max_sibsp, AVG(SibSp) AS avg_sibsp,
    MIN(Parch) AS min_parch, MAX(Parch) AS max_parch, AVG(Parch) AS avg_parch
FROM titanic_data

Calculation started (calculation_id=dacad7a6-cfd6-9c5b-6407-e84413902865) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+-------+-------+-----------------+--------+-----------------+-----------------+---------+---------+---------+---------+---------+---------+
|min_age|max_age|          avg_age|min_fare|         max_fare|         avg_fare|min_sibsp|max_sibsp|avg_sibsp|min_parch|max_parch|avg_parch|
+-------+-------+-----------------+--------+-----------------+-----------------+---------+---------+---------+---------+---------+---------+
|    0.0|  114.0|29.28033940609041|     0.0|640.8836138220682|33.46109724038156|        0|        8| 0.511101|        0|        6| 0.360037|
+-------+-------+-----------------+--------+-----------------+-----------------+---------+---------+---------+---------+---------+---------+

In [9]:
%%sql
SELECT Sex, COUNT(*) AS count
FROM titanic_data
GROUP BY Sex

Calculation started (calculation_id=b0cad7a7-da7f-141e-0faa-1f956dd774b8) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+------+------+
|   Sex| count|
+------+------+
|  male|648840|
|female|351160|
+------+------+

In [10]:
%%sql
SELECT CAST(Pclass AS STRING), COUNT(*) AS count
FROM titanic_data
GROUP BY Pclass

Calculation started (calculation_id=f4cad7a7-fa5d-8158-ff6b-f0976cc3c29d) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+------+------+
|Pclass| count|
+------+------+
|     1|242069|
|     3|553319|
|     2|204612|
+------+------+

In [11]:
%%sql
SELECT Embarked, COUNT(*) AS count
FROM titanic_data
GROUP BY Embarked

Calculation started (calculation_id=90cad7a8-0bc2-67b8-a3a9-480caaa6a10a) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+--------+------+
|Embarked| count|
+--------+------+
|       S|731708|
|       C|186846|
|       Q| 81446|
+--------+------+

In [12]:
%%sql
SELECT CAST(Survived AS STRING), COUNT(*) AS count
FROM titanic_data
GROUP BY Survived

Calculation started (calculation_id=a4cad7a8-1ce8-70c4-e8da-92f32e59752d) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+--------+------+
|Survived| count|
+--------+------+
|       1|381681|
|       0|618319|
+--------+------+

In [14]:
%%sql
SELECT 
    AVG(Age) AS avg_age,
    MIN(Age) AS min_age,
    MAX(Age) AS max_age,
    AVG(Fare) AS avg_fare,
    MIN(Fare) AS min_fare,
    MAX(Fare) AS max_fare,
    AVG(SibSp) AS avg_sibsp,
    MAX(SibSp) AS max_sibsp,
    AVG(Parch) AS avg_parch,
    MAX(Parch) AS max_parch
FROM titanic_data

Calculation started (calculation_id=b2cad7a8-5882-6572-8aec-2b51b44c0754) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+-----------------+-------+-------+-----------------+--------+-----------------+---------+---------+---------+---------+
|          avg_age|min_age|max_age|         avg_fare|min_fare|         max_fare|avg_sibsp|max_sibsp|avg_parch|max_parch|
+-----------------+-------+-------+-----------------+--------+-----------------+---------+---------+---------+---------+
|29.28033940609041|    0.0|  114.0|33.46109724038156|     0.0|640.8836138220682| 0.511101|        8| 0.360037|        6|
+-----------------+-------+-------+-----------------+--------+-----------------+---------+---------+---------+---------+

In [15]:
%%sql
SELECT 
    CASE 
        WHEN Age < 18 THEN 'Child'
        WHEN Age BETWEEN 18 AND 30 THEN 'Young Adult'
        WHEN Age BETWEEN 31 AND 50 THEN 'Adult'
        WHEN Age > 50 THEN 'Senior'
        ELSE 'Unknown'
    END AS age_group,
    COUNT(*) AS count
FROM titanic_data
GROUP BY age_group
ORDER BY count DESC

Calculation started (calculation_id=10cad7a8-6c57-59fd-3afb-00a9d244b4ae) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+-----------+------+
|  age_group| count|
+-----------+------+
|Young Adult|507093|
|      Adult|320114|
|      Child|131573|
|     Senior| 41220|
+-----------+------+

In [16]:
%%sql
SELECT 
    Pclass,
    AVG(CAST(Survived AS DOUBLE)) AS survival_rate,
    COUNT(*) AS total_passengers
FROM titanic_data
GROUP BY Pclass
ORDER BY Pclass

Calculation started (calculation_id=6ccad7a8-7da1-e25f-0b3b-26074744bd29) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+------+-------------------+----------------+
|Pclass|      survival_rate|total_passengers|
+------+-------------------+----------------+
|     1| 0.6254456374009063|          242069|
|     2|0.47706879361914256|          204612|
|     3|0.23976404208060811|          553319|
+------+-------------------+----------------+

In [17]:
%%sql
SELECT 
    Sex,
    AVG(CAST(Survived AS DOUBLE)) AS survival_rate,
    COUNT(*) AS total_passengers
FROM titanic_data

GROUP BY Sex

Calculation started (calculation_id=54cad7a8-8f3c-667a-3a7e-f162236dc3df) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+------+-------------------+----------------+
|   Sex|      survival_rate|total_passengers|
+------+-------------------+----------------+
|  male|0.18604124283336415|          648840|
|female| 0.7431655086000684|          351160|
+------+-------------------+----------------+

In [18]:
%%sql
SELECT 
    Pclass,
    Survived,
    AVG(Fare) AS avg_fare
FROM titanic_data
GROUP BY Pclass, Survived
ORDER BY Pclass, Survived

Calculation started (calculation_id=54cad7a8-a5e0-98b5-8335-1bfbaebc229f) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+------+--------+------------------+
|Pclass|Survived|          avg_fare|
+------+--------+------------------+
|     1|       0| 66.73226102408711|
|     1|       1| 98.37872648760157|
|     2|       0|21.060141677143996|
|     2|       1|22.156004844779208|
|     3|       0|13.750026400414564|
|     3|       1| 17.45631795183219|
+------+--------+------------------+

In [19]:
%%sql
SELECT 
    (SibSp + Parch + 1) AS family_size,
    COUNT(*) AS count
FROM titanic_data
GROUP BY family_size
ORDER BY family_size

Calculation started (calculation_id=56cad7a8-bd9b-22a6-7524-5d655920043e) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+-----------+------+
|family_size| count|
+-----------+------+
|          1|614898|
|          2|181897|
|          3|106790|
|          4| 28706|
|          5| 16646|
|          6| 23089|
|          7| 13142|
|          8|  6492|
|          9|    91|
|         11|  8249|
+-----------+------+

In [21]:
%%sql
SELECT 
    CASE 
        WHEN Age < 18 THEN 'Child'
        WHEN Age BETWEEN 18 AND 30 THEN 'Young Adult'
        WHEN Age BETWEEN 31 AND 50 THEN 'Adult'
        WHEN Age > 50 THEN 'Senior'
        ELSE 'Unknown'
    END AS age_group,
    Sex,
    AVG(CAST(Survived AS DOUBLE)) AS survival_rate,
    COUNT(*) AS total_passengers
FROM titanic_data
GROUP BY age_group, Sex
ORDER BY age_group, Sex

Calculation started (calculation_id=a6cad7a9-d92b-8163-4458-47ae43e8ce69) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+-----------+------+-------------------+----------------+
|  age_group|   Sex|      survival_rate|total_passengers|
+-----------+------+-------------------+----------------+
|      Adult|female| 0.7719916028983544|          103369|
|      Adult|  male|0.16235668642875267|          216745|
|      Child|female| 0.6669984436642659|           55258|
|      Child|  male|0.30761973399724823|           76315|
|     Senior|female| 0.8960199464401145|           10829|
|     Senior|  male|0.18423217399888125|           30391|
|Young Adult|female| 0.7408202351076476|          181704|
|Young Adult|  male|  0.173472366920824|          325389|
+-----------+------+-------------------+----------------+

In [22]:
%%sql
SELECT 
    CASE 
        WHEN (SibSp + Parch) = 0 THEN 'Alone'
        WHEN (SibSp + Parch) BETWEEN 1 AND 3 THEN 'Small Family'
        WHEN (SibSp + Parch) BETWEEN 4 AND 6 THEN 'Medium Family'
        ELSE 'Large Family'
    END AS family_size_category,
    AVG(CAST(Survived AS DOUBLE)) AS survival_rate,
    COUNT(*) AS total_passengers
FROM titanic_data
GROUP BY family_size_category
ORDER BY survival_rate DESC

Calculation started (calculation_id=facad7aa-31f4-80c3-b427-9d079275b356) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+--------------------+-------------------+----------------+
|family_size_category|      survival_rate|total_passengers|
+--------------------+-------------------+----------------+
|        Small Family| 0.5838566067934705|          317393|
|               Alone|0.30162075661329196|          614898|
|       Medium Family| 0.1981390774817028|           52877|
|        Large Family|0.02872168284789644|           14832|
+--------------------+-------------------+----------------+

In [23]:
%%sql
SELECT 
    Pclass,
    Embarked,
    AVG(CAST(Survived AS DOUBLE)) AS survival_rate,
    COUNT(*) AS total_passengers
FROM titanic_data
WHERE Embarked IS NOT NULL
GROUP BY Pclass, Embarked
ORDER BY Pclass, survival_rate DESC

Calculation started (calculation_id=46cad7aa-a3ae-c66d-2a2f-58ecd2eb943c) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+------+--------+-------------------+----------------+
|Pclass|Embarked|      survival_rate|total_passengers|
+------+--------+-------------------+----------------+
|     1|       C| 0.6820650160370069|           94469|
|     1|       S| 0.5896336099613357|          146647|
|     1|       Q| 0.5236096537250787|             953|
|     2|       Q| 0.8512974051896207|            2004|
|     2|       C| 0.5355865921787709|           17900|
|     2|       S|0.46733763561946423|          184708|
|     3|       C| 0.3675362863702888|           74477|
|     3|       Q| 0.3668412134184408|           78489|
|     3|       S|0.19108137069036576|          400353|
+------+--------+-------------------+----------------+

In [24]:
%%sql
SELECT 
    Pclass,
    Survived,
    AVG(Fare) AS avg_fare,
    COUNT(*) AS total_passengers
FROM titanic_data
GROUP BY Pclass, Survived
ORDER BY Pclass, Survived

Calculation started (calculation_id=4ccad7aa-e301-435c-5f48-52092e8dd053) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+------+--------+------------------+----------------+
|Pclass|Survived|          avg_fare|total_passengers|
+------+--------+------------------+----------------+
|     1|       0| 66.73226102408711|           90668|
|     1|       1| 98.37872648760157|          151401|
|     2|       0|21.060141677143996|          106998|
|     2|       1|22.156004844779208|           97614|
|     3|       0|13.750026400414564|          420653|
|     3|       1| 17.45631795183219|          132666|
+------+--------+------------------+----------------+

In [27]:
%%sql
WITH fare_quartiles AS (
    SELECT 
        Fare,
        Survived,
        NTILE(4) OVER (ORDER BY Fare) AS quartile
    FROM titanic_data
    WHERE Fare > 0
)
SELECT 
    quartile,
    MIN(Fare) AS min_fare,
    MAX(Fare) AS max_fare,
    AVG(CAST(Survived AS DOUBLE)) AS survival_rate,
    COUNT(*) AS total_passengers
FROM fare_quartiles
GROUP BY quartile
ORDER BY quartile

Calculation started (calculation_id=3acad7ab-2aa7-1afd-d5eb-2dd701dcef2a) in (session=bccad7a5-b469-cb6f-0759-9f7dbfed1857). Checking calculation status...

Progress:   0%|          |elapsed time = 00:00s

Calculation completed.
+--------+--------------------+------------------+-------------------+----------------+
|quartile|            min_fare|          max_fare|      survival_rate|total_passengers|
+--------+--------------------+------------------+-------------------+----------------+
|       1|2.348692905610005E-5| 9.818593452461144| 0.2099537017300035|          234566|
|       2|   9.818630991501836|17.162627998396953|0.31107662662107893|          234566|
|       3|   17.16266384962395| 38.02047491288314|0.42629366574865923|          234566|
|       4|   38.02052419069993| 640.8836138220682| 0.5848826551275765|          234565|
+--------+--------------------+------------------+-------------------+----------------+